body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: black;
  }
  
  .wrapper {
    background-color: #111;
  }
  
  header {
    background-color: #111;
    padding: 10px 20px;
  }
  
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    max-width: 100px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
  }
  
  .menu-button {
    background-color: transparent;
    color: black;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .menu-button:hover {
    background-color: #333;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  