body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:#494f55;
  }
  
  header {
    background-color: greenyellow;
    color: white;
    padding: 5px 40px;
    filter: saturate(160%);
  }
  
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    max-width: 50px;
    border-radius: 50%;
  }

  .dropdown img {
    max-width: 40px;
    border-radius: 50%; /* This will make the image round */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .menu-button {
    text-decoration: none;
    color: black;
    vertical-align: middle; /* Add this line */
    display: inline-block; /* Add this line */
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
  }

/* Hover effect for common buttons */
.menu-button:hover {
  background-color: darkred;
  border-color: darkred;
  color: white; /* Change text color on hover */
  filter: saturate(80%)
}
 
.body-button{
  text-decoration: none;
    color: white;
    vertical-align: middle; /* Add this line */
    display: inline-block; /* Add this line */
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
}

.body-button:hover {
  background-color: darkred;
  border-color: darkred;
  color: white; /* Change text color on hover */
}

.dropdown-button{
  color:white; 
}

 
.dropdown-content {
  display: none;
  position: absolute;
  background-color: navy;
  z-index: 1;
  width: 500px; /* Set a width for the dropdown */
  padding: 10px; /* Adjust padding as needed */
}

.dropdown:hover .dropdown-content {
  display: block;
}


.menu-container {
  display: flex;
  height: 100vh; /* Set the height to fill the viewport */
}

.left-menu {
  filter: saturation (150%);
  padding: 0;
  border-right: 1px solid #ddd;
  flex: 0 0 200px; /* Adjusted width for the left menu */
  background: linear-gradient(90deg, #3B3C36, black);
  filter: saturation(200%)
}


.center-container {
  background-color: #3B3C36;
  padding: 0;
  background: linear-gradient(45deg, #3B3C36, black);
  filter: saturation(200%)
}


.swiper{
  width:100vh;
  height: 350px;
  overflow-x: auto;
}


.swiper-slide img{
  width:100%;
  height:100%;
}

.right-menu {
  padding: 0px;
  margin:0;
  border-left: 0 solid #ddd;
  flex: 0 0 300px; /* Maximum width for the right menu */
  background: linear-gradient(20deg, black, #3B3C36);
  filter: saturation(200%)
}

.container-second{
  flex-grow: 1; /* Fill remaining vertical space */
}



/* chat box section */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Styling the main container */
.container {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    letter-spacing: 0.5px;
    height: 80%;
}

container1 img {
    width: 50px;
    vertical-align: middle;
    border-style: none;
    border-radius: 100%;
}
/* Styling the msg-header container */
.msg-header {
    border: 1px solid #ccc;
    width: 100%;
    height: 10%;
    border-bottom: none;
    display: inline-block;
    background-color: #efefef;
    margin: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
/* Styling the profile picture */
.msgimg {
    margin-left: 2%;
    float: left;
}

.container1 {
    width: 270px;
    height: auto; 
    float: left;
    margin: 0;
}

/* styling user-name */
.active {
    width: 150px;
    float: left;
    color: black;
    font-weight: bold;
    margin: 0 0 0 5px;
    height: 10%;
 
}
/* Styling the inbox */
.chat-page {
    padding: 0 0 50px 0;
}

.msg-inbox {
    border: 1px solid #ccc;
    overflow: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.chats {
    padding: 30px 15px 0 25px;
}

.msg-page {
    max-height: 500px;
    overflow-y: auto;
}

/* Styling the msg-bottom container */
 .msg-bottom {
        border-top: 1px solid #ccc;
        position: relative;
        height: 11%;
        background-color: rgb(239 239 239);
    }
/* Styling the input field */
    .input-group {
        float: right;
        margin-top: 13px;
        margin-right: 20px;
        outline: none !important;
        border-radius: 20px;
        width: 61% !important;
        background-color: #fff;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }
    
    .input-group>.form-control {
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0;
    }
    
    .form-control {
        border: none !important;
        border-radius: 20px !important;
        display: block;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    
    .input-group-text {
        background: transparent !important;
        border: none !important;
        display: flex;
        align-items: center;
        padding: 0.375rem 0.75rem;
        margin-bottom: 0;
        font-size: 1.5rem;
        font-weight: b;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #e9ecef;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        font-weight: bold !important;
        cursor: pointer;
    }
    
    input:focus {
        outline: none;
        border: none !important;
        box-shadow: none !important;
    }
    
    .send-icon {
        font-weight: bold !important;
    }

/* Styling the avatar  */
received-chats-img {
    display: inline-block;
    width: 50px;
    float: left;
}

.received-msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}
.received-msg-inbox {
    width: 57%;
}

.received-msg-inbox p {
    background: #efefef none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    margin-left: 1rem;
    padding: 1rem;
    width: 100%;
    box-shadow: rgb(0 0 0 / 25%) 0px 5px 5px 2px;
}
    p {
    overflow-wrap: break-word;
}

/* Styling the msg-sent time  */
.time {
    color: #777;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}
.outgoing-chats {
    overflow: hidden;
    margin: 26px 20px;
}

.outgoing-chats-msg p {
    background-color: #3a12ff;
    background-image: linear-gradient(45deg, #ee087f 0%, #DD2A7B 25%, #9858ac 50%, #8134AF 75%, #515BD4 100%);
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
    padding: 1rem;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 5px 2px;
}
.outgoing-chats-msg {
        float: right;
        width: 46%;
    }

/* Styling the avatar */
.outgoing-chats-img {
    display: inline-block;
    width: 50px;
    float: right;
    margin-right: 1rem;
}
@media only screen and (max-device-width: 850px) {
    *,
    .time {
        font-size: 28px;
    }
    img {
        width: 65px;
    }
    .msg-header {
        height: 5%;
    }
    .msg-page {
        max-height: none;
    }
    .received-msg-inbox p {
        font-size: 28px;
    }
    .outgoing-chats-msg p {
        font-size: 28px;
    }
}

@media only screen and (max-device-width: 450px) {
    *,
    .time {
        font-size: 28px;
    }
    img {
        width: 65px;
    }
    .msg-header {
        height: 5%;
    }
    .msg-page {
        max-height: none;
    }
    .received-msg-inbox p {
        font-size: 28px;
    }
    .outgoing-chats-msg p {
        font-size: 28px;
    }
}






/* chat-popup styles */
.chat-popup {
  position: fixed;
  bottom: 100px;
  right: 20px;
  z-index: 999;
}

.container-chatbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* chat-box styles */
.chat-box {
  width: 350px;
  height: 450px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow for the chat box */
}

/* chat box icon section */
.chat-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  bottom: 20px; /* Adjust this value to control the vertical position */
  right: 20px; /* Adjust this value to control the horizontal position */
  padding: 10px;
  z-index: 999; /* Add z-index to make sure it's on top of other content */
}

.chat-btn img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  padding: 5px;
  transition: 0.4s ease-in-out;
}

.chat-btn:hover img {
  transform: rotate(50deg);
}
























